<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

      
      
    
    <div class="ag-courses_item" style="width: 87vw; overflow: hidden; border-radius: 28px;">
      <a href="https://dev.unicornfortunes.com/mod/feedback/complete.php?id=46974&courseid" target="_blank" class="ag-courses-item_link" style="text-decoration: none; display: block; padding: 30px 20px; background-color: #000000; overflow: hidden; position: relative;">
        <div class="ag-courses-item_bg" style="height: 340px; width: 340px; background-color: #f9b234; z-index: 1; position: absolute; top: -75px; right: -75px; border-radius: 50%; transition: all 0.5s ease;"></div>

        <div class="ag-courses-item_title" style="margin: 0 0 25px; font-family: sans-serif; overflow: hidden; font-weight: bold; font-size: 30px; color: #fff; z-index: 2; position: relative;">
          Student Survey Important Notification!
        </div>

        <div class="ag-courses-item_title para" style="min-height: 60px; margin: 0 0 25px; text-decoration: none; overflow: hidden; font-size: 20px; color: #fff; font-family: sans-serif; letter-spacing: 1.5px; z-index: 2; position:relative">
          Dear Learners, take a moment to share your thoughts on the student survey.
        </div>



        <div class="ag-courses-item_date-box" style="font-size: 18px; font-weight: bold; letter-spacing: 2px; height: 30px; align-items: center; border-radius: 5px; font-family: sans-serif; color: white; display: flex; justify-content: center; background-color: #e44002; z-index: 2; position: relative; width: 200px;">
          Click Here
        </div>
        <div class="ag-courses-item_date-box" style="font-size: 18px; letter-spacing: 2px; height: 30px; align-items: center; border-radius: 5px; font-family: sans-serif; color: white; display: flex; justify-content: flex-start; z-index: 2; position: relative; width: 400px; margin-top: 20px;">
            Last Date : 11th feb 2024
          </div>
      </a>
    </div>
  </body>
</html>
