.transformme2{
    animation: 2s fadmedown;
}
@keyframes fadmedown {
    from{
        opacity: 0;
        transform: translateX(-30px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}