.loader-set {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  /* background-color: #a9a9f7; */
}
.hang {
  font-weight: 600;
  font-size: 30px;
  color: #00004c;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.iam {
  font-weight: 600;
  letter-spacing: 0.5px;
}
.dot-dot {
  animation: 2s infinite holla;
}

@keyframes holla {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
